@font-face {
  font-family: 'SlimPlay';
  src: url("SlimPlay.eot?#iefix") format("embedded-opentype"), url("SlimPlay.woff") format("woff"), url("SlimPlay.ttf") format("truetype"), url("SlimPlay.svg#SlimPlay") format("svg");
  font-weight: normal;
  font-style: normal; }
