@font-face {
  font-family: 'SlimPlay';
  src: url('../fonts/slimplay/SlimPlay.eot?#iefix') format('embedded-opentype'),
  url('../fonts/slimplay/SlimPlay.woff') format('woff'),
  url('../fonts/slimplay/SlimPlay.ttf') format('truetype'),
  url('../fonts/slimplay/SlimPlay.svg#SlimPlay') format('svg');
  font-weight: normal;
  font-style: normal;
}
