.topic-list {
  width: 100%;

  th {
    text-align: center;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'SlimPlay', sans-serif;
    border-bottom: 1px solid $endeavour;
  }

  tbody,
  thead {
    td,
    th {
      &:first-child {
        text-align: left;
      }
    }
  }

  thead {
    @include mq(to992) {
      display: none;
    }
  }

  tbody {
    .topic-list-item {
      @include mq(to992) {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #ddd;
      }

      &:last-child {
        border-bottom: none;
      }

      td {
        @include mq(to992) {
          text-align: left;
          display: flex;
          padding: 10px 0;
          align-items: center;
        }

        &:nth-child(1) {
          @include mq(to768) {
            flex-direction: column;
            align-items: flex-start;
          }

          &:before {
            @include mq(to768) {
              margin-bottom: 15px;
            }
          }
        }

        &:before {
          content: attr(data-col-name);
          font-family: 'SlimPlay', sans-serif;
          width: 130px;

          @include mq(from992) {
            display: none;
          }
        }
      }
    }
  }

  td {
    text-align: center;
    padding: 10px 20px;
    font-size: 15px;

    .discourse-tags,
    .title {
      text-align: left;
    }
  }

  .topic-post-badges {
    color: green;
    font-weight: bold;
  }
}
