// input type text
.input-group {
  margin: 5px 0 22px;

  label {
    color: $toryBlue;
  }

  input:not([type="radio"]) {
    width: 100%;
    padding: 15px;
    border: none;
    background: $whiteSmoke;

    &:focus {
      background-color: $whiteSmoke;
      outline: none;
    }
  }

  // INPUT TYPE RADIO
  &.input-radio {
    label {
      margin: 10px 0;
      display: block;

      input {
        margin-right: 5px;
      }
    }
  }
}


//input type checkbox
// input type radio
